<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navi">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">게시판</a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/posts">전체 글</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts/create">글쓰기</a>
        </li>
        <!-- 로그인과 회원가입 메뉴 -->
        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="loginDropdownMenuLink" role="button">
            로그인
          </a>
          <ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/session/create">로그인</a></li>
            <li><a class="dropdown-item" href="/user/create">회원가입</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>